<app-menu></app-menu>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" *ngIf="!nombreUsuario">Bienvenidos</h1>
    <h1 class="display-4" *ngIf="nombreUsuario">
      Bienvenido {{ nombreUsuario }}
    </h1>
    <p class="lead">
      Turista es la plataforma donde puede ofertar de manera rápida, fácil y
      agil tus servicios para ofrecerlos al turista nacional e internacional
    </p>
    <hr class="my-4" />
    <p>
      A través de una serie de simples y sencillos pasos puedes organizar tús
      servicios y diseñar una ruta con dichos servicios para llegar una forma
      más concreta a los turistas
    </p>
    <a href="#" class="btn btn-primary btn-lg" role="button">Empezar</a>
  </div>
</div>
